html {
  overflow: hidden;
}

#tab1.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

#tab2.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

#tab3.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
}

.active .fixed-size {
  width: 70%;
}

@media (max-width: 576px) {
  .active .fixed-size {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .active .fixed-size {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .active .fixed-size {
    width: 100%;
  }
}