html {
  overflow: hidden;
}

#tab1.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  display: block;
}

#tab2.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  display: block;
  
}

#tab3.active {
  position: relative;
  opacity: 1;
  transform: translateX(0);
  display: block;
  
}

.active .fixed-size {
  width: 70%;
}

.nav-link.active:hover {
  color: black !important;
}

@media (max-width: 575px) {
  .active .fixed-size {
    width: 100%;
  }
  #tab1.active {
    display: block;
  }
  #tab2.active {
    display: block;
  }
  #tab3.active {
    display: block;
  }
}
@media (max-width: 768px) {
  .active .fixed-size {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .active .fixed-size {
    width: 100%;
  }
}